<%= render "govuk_publishing_components/components/heading", {
  text: "#{t(".try")}:",
  margin_bottom: 4,
  heading_level: 2,
  font_size: "m",
} %>

<ul class="govuk-list govuk-list--bullet">
  <li><%= t('.different_words') %></li>
  <li><%= t('.remove_filters') %></li>
</ul>

<%= render "govuk_publishing_components/components/heading", {
  text: t('.older_content'),
  margin_bottom: 4,
  heading_level: 2,
  font_size: "m",
} %>

<p class="govuk-body"><%= t('.we_can_help') %></p>
<p class="govuk-body"><%= t('.expand_your_search') %></p>
