<div class="dgu-sort">
  <div class="dgu-sort__apply visuallyhidden">
    <input type="submit" value=<%= t('.accessibility.submit_button') %>/>
  </div>

  <div class="dgu-sort__sort-type">
    <label>
      <span class="visuallyhidden"> <%= t('.accessibility.sort_type_label') %></span>
      <select id="sort-datasets" name="sort" onchange="this.form.submit()">
        <option <%= 'selected' if @sort!='recent' %> value="best"> <%= t('.match') %></option>
        <option <%= 'selected' if @sort=='recent' %> value="recent"> <%= t('.recent') %></option>
      </select>
    </label>
  </div>
</div>
