<% content_for :page_title do %><%= search_term.present? ?
    t('.results_page_title', query: search_term) :
    t('.search_results') %><% end %>

<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<form action="/search" method="GET">
  <%= render "govuk_publishing_components/components/heading", {
    text: t(".search_results_heading"),
    margin_bottom: 6,
    heading_level: 1,
    font_size: "l",
  } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="search-box">
      <%= render "govuk_publishing_components/components/search", {
        label_text: t('.search_data_gov_uk'),
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'filters' %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold"><%= number_with_delimiter(@num_results) %></span>
            <%= t('.result').pluralize(@num_results) %> <%= t('.found') %>
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <%= render 'sort' if @num_results > 1 %>
        </div>
      </div>

      <% if @num_results.zero? %>
        <%= render 'no_results' %>
      <% else %>
        <% @datasets.each do |dataset| %>
          <div>
            <h2 class="govuk-heading-m">
              <%= link_to dataset.title, dataset_path(dataset.uuid, dataset.name), class: 'govuk-link' %>
            </h2>
            <p class="govuk-body"><%= truncate(strip_tags(dataset.summary), length: 200, separator: ' ') %></p>
            <%= render "govuk_publishing_components/components/summary_list", {
              items: search_results_metadata(dataset),
              borderless: true,
            } %>
          </div>
        <% end %>
        <nav class="dgu-pagination">
          <p class="govuk-body">
            <%= dgu_page_entries_info @datasets, entry_name: 'dataset' %>
            <span class="dgu-pagination__numbers"><%= paginate @datasets, window: 2 %></span>
          </p>
        </nav>
      <% end %>
    </div>
  </div>
</form>
