<% content_for :page_title do %>
  Results for "<%= @query %>" - Find Data Alpha
<% end %>

<h1 class="heading-large">Search results</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <form id="dgu-search-box" action="/search" method="GET">
      <label for="q" class="visuallyhidden">Search</label>
      <input id="q" name="q" type="text" class="form-control dgu-search-box__input" value="<%= @query %>"/><button type="submit" class="dgu-search-box__button">Find data</button>
    </form>
  </div>
</div>

<form class="dgu-filters">
  <div class="column-one-third">
    <%= render 'filters' %>
  </div>
  <div class="column-two-thirds">
    <%= render 'sort' %>
  </div>
</form>

<div class="column-one-third"><p></p></div>
  <div class="column-two-thirds filters">
    <div>
      <% if @query.present? %>
        <span class="bold-small"><%= @num_results %></span>
        results found for <span class="bold-small">'<%= @query %>'</span>
      <% end %>

      <% unless @organisation.blank? %>
        <% if @query.empty? %>Datasets <% end %>published by
      <span class="bold-small">'<%= @organisation %>'<% end %></span>
      <% unless @sort.blank? %>sorted by
      <span class="bold-small">'<%= display_sort(@sort) %>'<% end %></span>
      <% unless @location.blank? %>filtered by
      <span class="bold-small">'<%= @location %>'<% end %></span>

    </div>

    <% if @num_results == 0 %>
      <h2 class="heading-medium">Please try:</h2>
      <ul class="list list-bullet">
        <li>searching again using different words</li>
        <li>clearing your filters</li>
      </ul>
    <% else %>

      <% @datasets.each do |d| %>
        <div class="result">
          <div class="">
            <h2 class="heading-medium">
              <a href="/dataset/<%= d.name %>"><%= d.title %></a>
            </h2>
            <dl class="metadata">
              <dt>Published by:</dt>
              <dd><%= link_to d.organisation['title'], search_path(publisher: d.organisation['title']) %></dd>
              <dt>Last updated:</dt>
              <dd><%= format(d.updated_at) %></dd>
              <dt>Geographical area:</dt>
              <% if d.location1.present? %>
                <dd><%= d.location1 %></dd>
              <% else %>
                <dd class="unavailable">Not applicable</dd>
              <% end %>
            </dl>
            <p><%= truncate(strip_tags(d.summary), length: 200, separator: ' ') %></p>
          </div>
        <% end %>
        <%= paginate @datasets %>
      <% end %>
    </div>
  </div>
