<% content_for :page_title do %><%= @presenter.search_term.present? ?
  t('.results_page_title', query: @presenter.search_term) :
  t('.search_results') %>
<% end %>

<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>
<form action="/search" method="GET">
  <main role="main" id="main-content" class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <%= render "govuk_publishing_components/components/heading", {
        text: t(".search_results_heading"),
        margin_bottom: 6,
        heading_level: 1,
        font_size: "l",
      } %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="search-box">
          <%= render "govuk_publishing_components/components/search", {
            label_text: t('.search_data_gov_uk'),
            value: @presenter.search_keywords,
          } %>
        </div>
      </div>

      <div class="govuk-grid-row dgu-filters">
        <div class="govuk-grid-column-one-third">
          <%= render 'filters' %>
        </div>
        <div class="govuk-grid-column-two-thirds dgu-results">
          <%= render 'sort' if @num_results > 1 %>
          <span class="dgu-results__summary">
            <span class="govuk-body-s govuk-!-font-weight-bold"><%= number_with_delimiter(@num_results) %></span>
            <%= t('.result').pluralize(@num_results) %> <%= t('.found') %>
          </span>

          <% if @num_results.zero? %>
            <%= render "no_results" %>
          <% else %>
            <% @datasets.each do |dataset| %>
              <div class="dgu-results__result">
                <h2 class="govuk-heading-m">
                  <%= link_to dataset["title"], dataset_path(dataset["id"], dataset["name"]), class: 'govuk-link' %>
                </h2>
                <dl class="dgu-metadata__box">
                  <dt><%= t('.meta_data_box.published_by') %>:</dt>
                  <dd class="published_by"><%= JSON.parse(dataset["validated_data_dict"])["organization"]["title"] %></dd>
                  <dt><%= t('.meta_data_box.last_updated') %>:</dt>
                  <% if dataset["metadata_modified"].present? %>
                    <dd><%= format_timestamp(dataset["metadata_modified"]) %></dd>
                  <% else %>
                    <dd class="dgu-secondary-text"> <%= t('.meta_data_box.not_applicable') %></dd>
                  <% end %>
                </dl>
                <p><%= truncate(strip_tags(dataset["notes"]), length: 200, separator: ' ') %></p>
              </div>
            <% end %>
            <div class="dgu-pagination">
              <nav>
                <%= dgu_page_entries_info @datasets, entry_name: 'dataset' %>
                <span class="dgu-pagination__numbers"><%= paginate @datasets, window: 2 %></span>
              </nav>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</form>
