<section class="govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-s">
    <%= t('.additional_info') %>
  </h2>
  <% if dataset.description.present? %>
    <p class="dgu-additional-info__notes">
      <%= dataset.description %>
    </p>
  <% end %>

  <% if dataset.inspire_dataset.present? %>
    <% i = dataset.inspire_dataset %>

    <%= render "govuk_publishing_components/components/details", {
      title: t('.view_additional_metadata')
    } do %>
      <dl class="govuk-summary-list">
        <% if i['metadata_date'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_added') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['metadata_date'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['access_constraints'] %>
          <% ref = JSON.parse(i['access_constraints']) %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_access_constraints') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= ref.first || t('.inspire_access_constraints_unspecified') %></p>
            </dd>
          </div>
        <% end %>
        <% if i['guid'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_guid') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['guid'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['bbox_east_long'] and i['bbox_west_long'] and i['bbox_north_lat'] and i['bbox_south_lat'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_extent') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= t('.inspire_latitude') %>: <%= i['bbox_north_lat'] %>째 <%= t('.inspire_to') %> <%= i['bbox_south_lat'] %>째</p>
              <p class="govuk-body"><%= t('.inspire_longitude') %>: <%= i['bbox_west_long'] %>째 <%= t('.inspire_to') %> <%= i['bbox_east_long'] %>째</p>
            </dd>
          </div>
        <% end %>
        <% if i['spatial_reference_system'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_spatial_ref_system') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['spatial_reference_system'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['dataset_reference_date'] %>
          <% ref = JSON.parse(i['dataset_reference_date']) %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_dataset_ref_date') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <% ref.each do |date| %>
                <p class="govuk-body"><%= date['value'] %> (<%= date['type'] %>)</p>
              <% end %>
            </dd>
          </div>
        <% end %>
        <% if i['frequency_of_update'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_frequency') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['frequency_of_update'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['responsible_party'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_responsible_party') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['responsible_party'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['resource_type'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_iso_resource') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['resource_type'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['metadata_language'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_metadata_lang') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= i['metadata_language'] %></p>
            </dd>
          </div>
        <% end %>
        <% if i['harvest_object_id'] %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t('.inspire_gemini_record') %>
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= link_to t('.xml'), "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/xml", class: 'govuk-link' %></p>
              <p class="govuk-body"><%= link_to t('.html'), "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/html", class: 'govuk-link' %></p>
            </dd>
          </div>
        <% end %>
      </dl>
    <% end %>
  <% end %>
</section>
