<section id="dgu-additional-info">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('.additional_info'),
        margin_bottom: 4,
        heading_level: 2,
        font_size: "m"
      } %>

      <% if dataset.description.present? %>
        <p class="govuk-body">
          <%= dataset.description %>
        </p>
      <% end %>

      <% if dataset.inspire_dataset.present? %>
        <%
          i = dataset.inspire_dataset
          translations = {
            added: t('.inspire_added'),
            access_constraints: t('.inspire_access_constraints'),
            access_constraints_unspecified: t('.inspire_access_constraints_unspecified'),
            guid: t('.inspire_guid'),
            extent: t('.inspire_extent'),
            latitude: t('.inspire_latitude'),
            longitude: t('.inspire_longitude'),
            to: t('.inspire_to'),
            spatial_ref_system: t('.inspire_spatial_ref_system'),
            dataset_ref_date: t('.inspire_dataset_ref_date'),
            frequency: t('.inspire_frequency'),
            responsible_party: t('.inspire_responsible_party'),
            iso_resource: t('.inspire_iso_resource'),
            metadata_lang: t('.inspire_metadata_lang'),
            gemini_record: t('.inspire_gemini_record'),
            xml: t('.xml'),
            html: t('.html'),
          }
        %>

        <%= render "govuk_publishing_components/components/details", {
          title: t('.view_additional_metadata')
        } do %>
          <dl class="dgu-deflist govuk-clearfix">
            <% if i['metadata_date'] %>
              <dt><%= translations[:added] %></dt>
              <dd><%= i['metadata_date'] %></dd>
            <% end %>
            <% if i['access_constraints'] %>
              <% ref = JSON.parse(i['access_constraints']) %>
              <dt><%= translations[:access_constraints] %></dt>
              <dd><%= ref.first || translations[:access_constraints_unspecified] %></dd>
            <% end %>
            <% if i['guid'] %>
              <dt><%= translations[:guid] %></dt>
              <dd><%= i['guid'] %></dd>
            <% end %>
            <% if i['bbox_east_long'] and i['bbox_west_long'] and i['bbox_north_lat'] and i['bbox_south_lat'] %>
              <dt><%= translations[:extent] %></dt>
              <dd>
                <%= translations[:latitude] %>: <%= i['bbox_north_lat'] %>째 <%= translations[:to] %> <%= i['bbox_south_lat'] %>째</dd>
              <dd>
                <%= translations[:longitude] %>: <%= i['bbox_west_long'] %>째 <%= translations[:to] %> <%= i['bbox_east_long'] %>째
              </dd>
            <% end %>
            <% if i['spatial_reference_system'] %>
              <dt><%= translations[:spatial_ref_system] %></dt>
              <dd><%= i['spatial_reference_system'] %></dd>
            <% end %>
            <% if i['dataset_reference_date'] %>
              <% ref = JSON.parse(i['dataset_reference_date']) %>
              <dt><%= translations[:dataset_ref_date] %></dt>
              <% ref.each do |date| %>
                <dd><%= date['value'] %> (<%= date['type'] %>)</dd>
              <% end %>
            <% end %>
            <% if i['frequency_of_update'] %>
              <dt><%= translations[:frequency] %></dt>
              <dd><%= i['frequency_of_update'] %></dd>
            <% end %>
            <% if i['responsible_party'] %>
              <dt><%= translations[:responsible_party] %></dt>
              <dd><%= i['responsible_party'] %></dd>
            <% end %>
            <% if i['resource_type'] %>
              <dt><%= translations[:iso_resource] %></dt>
              <dd><%= i['resource_type'] %></dd>
            <% end %>
            <% if i['metadata_language'] %>
              <dt><%= translations[:metadata_lang] %></dt>
              <dd><%= i['metadata_language'] %></dd>
            <% end %>
            <% if i['harvest_object_id'] %>
              <dt><%= translations[:gemini_record] %></dt>
              <dd><%= link_to translations[:xml], "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/xml", class: 'govuk-link' %></dd>
              <dd><%= link_to translations[:html], "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/html", class: 'govuk-link' %></dd>
            <% end %>
          </dl>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
