
  <section class="dgu-additional-info">
    <h2 class="heading-medium">
      <%= t('.additional_info') %>
    </h2>
    <% if dataset.notes.present? %>
      <p class="dgu-additional-info__notes">
        <%= dataset.notes %>
      </p>
    <% end %>

    <% if dataset.inspire_dataset.present? %>
      <% i = dataset.inspire_dataset %>

      <details>
        <summary><span class="summary"><%= t('.view_additional_metadata')%></span></summary>
        <div class="panel panel-border-narrow">

          <dl class="dgu-deflist">
            <% if i['metadata_date'] %>
              <dt><%= t('.inspire_added') %></dt>
              <dd><%= i['metadata_date'] %></dd>
            <% end %>
            <% if i['guid'] %>
              <dt><%= t('.inspire_guid') %></dt>
              <dd><%= i['guid'] %></dd>
            <% end %>
            <% if i['bbox_east_long'] and i['bbox_west_long'] and i['bbox_north_lat'] and i['bbox_south_lat'] %>
              <dt><%= t('.inspire_extent') %></dt>
              <dd>
                <%= t('.inspire_latitude') %>: <%= i['bbox_north_lat'] %>째 <%= t('.inspire_to') %> <%= i['bbox_south_lat'] %>째</dd>
              <dd>
                <%= t('.inspire_longitude') %>: <%= i['bbox_west_long'] %>째 <%= t('.inspire_to') %> <%= i['bbox_east_long'] %>째
              </dd>
            <% end %>
            <% if i['spatial_reference_system'] %>
              <dt><%= t('.inspire_spatial_ref_system') %></dt>
              <dd><%= i['spatial_reference_system'] %></dd>
            <% end %>
            <% if i['dataset_reference_date'] %>
              <% ref = JSON.parse(i['dataset_reference_date']) %>
              <dt><%= t('.inspire_dataset_ref_date') %></dt>
              <% ref.each do |date| %>
                <dd><%= date['value'] %> (<%= date['type'] %>)</dd>
              <% end %>
            <% end %>
            <% if i['frequency_of_update'] %>
              <dt><%= t('.inspire_frequency') %></dt>
              <dd><%= i['frequency_of_update'] %></dd>
            <% end %>
            <% if i['responsible_party'] %>
              <dt><%= t('.inspire_responsible_party') %></dt>
              <dd><%= i['responsible_party'] %></dd>
            <% end %>
            <% if i['resource_type'] %>
              <dt><%= t('.inspire_iso_resource') %></dt>
              <dd><%= i['resource_type'] %></dd>
            <% end %>
            <% if i['metadata_language'] %>
              <dt><%= t('.inspire_metadata_lang') %></dt>
              <dd><%= i['metadata_language'] %></dd>
            <% end %>
          </dl>
        </div>
      </details>
    <% end %>
  </section>
