<% if @dataset.notes.present? || @dataset.inspire_dataset.present? %>

  <section class="dgu-additional-info">
    <h2 class="heading-medium">
      Additional information
    </h2>

    <% if @dataset.notes.present? %>
      <p class="dgu-additional-info__notes">
        <%= @dataset.notes %>
      </p>
    <% end %>


    <% if @dataset.inspire_dataset.present? %>
      <% i = @dataset.inspire_dataset %>

      <details>
        <summary><span class="summary">View additional metadata</span></summary>
        <div class="panel panel-border-narrow">

          <dl class="dgu-deflist">
            <% if i['metadata_date'] %>
              <dt>Added to data.gov.uk</dt>
              <dd><%= i['metadata_date'] %></dd>
            <% end %>
            <% if i['guid'] %>
              <dt>Harvest GUID</dt>
              <dd><%= i['guid'] %></dd>
            <% end %>
            <% if i['bbox_east_long'] and i['bbox_west_long'] and i['bbox_north_lat'] and i['bbox_south_lat'] %>
              <dt>Extent</dt>
              <dd>
                Latitude: <%= i['bbox_north_lat'] %>째 to <%= i['bbox_south_lat'] %>째</dd>
              <dd>
                Longitude: <%= i['bbox_west_long'] %>째 to <%= i['bbox_east_long'] %>째
              </dd>
            <% end %>
            <% if i['spatial_reference_system'] %>
              <dt>Spatial reference system</dt>
              <dd><%= i['spatial_reference_system'] %></dd>
            <% end %>
            <% if i['dataset_reference_date'] %>
              <% ref = JSON.parse(i['dataset_reference_date']) %>
              <dt>Dataset reference date</dt>
              <% ref.each do |date| %>
                <dd><%= date['value'] %> (<%= date['type'] %>)</dd>
              <% end %>
            <% end %>
            <% if i['frequency_of_update'] %>
              <dt>Frequency of update</dt>
              <dd><%= i['frequency_of_update'] %></dd>
            <% end %>
            <% if i['responsible_party'] %>
              <dt>Responsible party</dt>
              <dd><%= i['responsible_party'] %></dd>
            <% end %>
            <% if i['resource_type'] %>
              <dt>ISO 19139 Resource type</dt>
              <dd><%= i['resource_type'] %></dd>
            <% end %>
            <% if i['metadata_language'] %>
              <dt>Metadata language</dt>
              <dd><%= i['metadata_language'] %></dd>
            <% end %>
          </dl>

          <!--
               Missing: (from https://data.gov.uk/dataset/lidar-for-scotland-phase-i)
             - theme
             - harvest URL
             - harvest date
             - Access constraints
             - import source
             - themes (secondary)
             - temporal coverage
             - schema/vocabulary
             - code list
             - service level
             - coupled services
             -->


        </div>
      </details>
    <% end %>
  </section>

<% end %>
