<%
  default_name = "Contact #{@dataset.organisation.title} regarding this dataset"
  link_attrs = {'data-ga-event': 'contact', 'data-ga-publisher': @dataset.organisation.name, 'class': 'govuk_link'}

  email_name = contact_name_for(dataset).present? ? contact_name_for(dataset) : default_name
  foi_name = foi_name_for(dataset).present? ? foi_name_for(dataset) : default_name
  mail = contact_email_is_email?(dataset) ? mail_to(contact_email_for(dataset), email_name, link_attrs) : link_to(email_name, contact_email_for(dataset), link_attrs)
  foi_mail = foi_email_is_email?(dataset) ? mail_to(foi_email_for(dataset), foi_name, link_attrs) : link_to(foi_name, foi_email_for(dataset), link_attrs)
%>
<section class="contact">
  <h2 class="heading-medium">
    <%= t('datasets.contact.contact') %>
  </h2>

  <% if contact_email_exists?(dataset) %>
    <div class="column-one-half enquiries">
      <h3 class="heading-small">
        <%= t('datasets.contact.enquiries') %>
      </h3>
      <p>
        <%= content_tag(:span, mail) if mail.present? %>
      </p>
    </div>
  <% end %>

  <% if foi_details_exist?(dataset) %>
    <div class="column-one-half foi">
      <h3 class="heading-small">
        <%= t('datasets.contact.foi_requests') %>
      </h3>

      <p>
        <%= content_tag(:span, foi_mail) if foi_mail.present? %>
        <% if foi_web_address_for(dataset).present? %>
          <%= content_tag(:span) do %>
            <%= link_to("Freedom of information requests for this dataset", foi_web_address_for(dataset), link_attrs) %>
          <% end %>
        <% end %>

      </p>
    </div>
  <% end %>
</section>
