<section class="contact">
  <div>
    <h2 class="heading-medium">
      <%= t('datasets.contact.contact') %>
    </h2>

    <% if contact_email_exists?(@dataset) %>
      <div class="column-one-half">
        <h3 class="heading-small">
          <%= t('datasets.contact.enquiries') %>
        </h3>

        <p>
          <%= @dataset.contact_name.presence || @dataset.organisation.contact_name %></br>
          <%= mail_to(@dataset.contact_email.presence || @dataset.organisation.contact_email) %>
        </p>
      </div>
    <% end %>

    <% if foi_details_exist?(@dataset) %>
      <div class="column-one-half foi">
        <h3 class="heading-small">
          <%= t('datasets.contact.foi_requests') %>
        </h3>

        <p>
          <%= @dataset.foi_name.presence || @dataset.organisation.foi_name %></br>
          <%= mail_to(@dataset.foi_email.presence || @dataset.organisation.foi_email) %></br>
          <a href= "<%= (@dataset.foi_web.presence || @dataset.organisation.foi_web) %>">
            <%= (@dataset.foi_web.presence || @dataset.organisation.foi_web) %>
          </a>
      </div>
    <% end %>
  </div>
</section>
