<%
  default_name = "Contanct #{@dataset.organisation.title} regarding this dataset"
  ga_data = {'data-ga-event': 'contact', 'data-ga-publisher': @dataset.organisation.name}

  if contact_name_for(dataset).present?
    email_name = contact_name_for(dataset)
  else
    email_name = default_name
  end

  if foi_name_for(dataset).present?
    foi_name = foi_name_for(dataset)
  else
    foi_name = default_name
  end

  if contact_email_is_email?(dataset)
    mail = mail_to(contact_email_for(dataset), email_name, ga_data, class: 'govuk_link')
  else
    mail = link_to(email_name, contact_email_for(dataset), ga_data, class: 'govuk_link')
  end

  if foi_email_is_email?(dataset)
    foi_mail = mail_to(foi_email_for(dataset), foi_name, ga_data, class: 'govuk_link')
  else
    foi_mail = link_to(foi_name, foi_email_for(dataset), ga_data, class: 'govuk_link')
  end
%>
<section class="contact">
  <h2 class="heading-medium">
    <%= t('datasets.contact.contact') %>
  </h2>

  <% if contact_email_exists?(dataset) %>
    <div class="column-one-half enquiries">
      <h3 class="heading-small">
        <%= t('datasets.contact.enquiries') %>
      </h3>
      <p>
        <%= content_tag(:span, mail) if mail.present? %>
      </p>
    </div>
  <% end %>

  <% if foi_details_exist?(dataset) %>
    <div class="column-one-half foi">
      <h3 class="heading-small">
        <%= t('datasets.contact.foi_requests') %>
      </h3>

      <p>
        <%= content_tag(:span, foi_mail) if foi_mail.present? %>
        <% if foi_web_address_for(dataset).present? %>
          <%= content_tag(:span) do %>
            <%= link_to("Freedom of information requests for #{@dataset.organisation.title}", foi_web_address_for(dataset), ga_data) %>
          <% end %>
        <% end %>

      </p>
    </div>
  <% end %>
</section>
