<section class="contact">
  <h2 class="heading-medium">
    <%= t('datasets.contact.contact') %>
  </h2>

  <% if contact_email_exists?(dataset) %>
    <div class="column-one-half">
      <h3 class="heading-small">
        <%= t('datasets.contact.enquiries') %>
      </h3>

      <p>
        <span><%= contact_name_for(dataset) %></span>
        <span><%= mail_to(contact_email_for(dataset)) %></span>
      </p>
    </div>
  <% end %>

  <% if foi_details_exist?(dataset) %>
    <div class="column-one-half foi">
      <h3 class="heading-small">
        <%= t('datasets.contact.foi_requests') %>
      </h3>

      <p>
        <span><%= foi_name_for(dataset) %></span>
        <span><%= mail_to(foi_email_for(dataset)) %></span>
        <span><%= link_to(foi_web_address_for(dataset), foi_web_address_for(dataset)) %></span>
      </p>
    </div>
  <% end %>
</section>
