<%
  default_message = t('datasets.contact.default_message', title: @dataset.organisation.title)
  link_attrs = {'data-ga-event': 'contact', 'data-ga-publisher': @dataset.organisation.name, 'class': 'govuk-link'}

  email_name = contact_name_for(dataset).presence || default_message
  foi_name = foi_name_for(dataset).presence || default_message
  mail = contact_email_is_email?(dataset) ? mail_to(contact_email_for(dataset), email_name, link_attrs) : link_to(email_name, contact_email_for(dataset), link_attrs)
  foi_mail = foi_email_is_email?(dataset) ? mail_to(foi_email_for(dataset), foi_name, link_attrs) : link_to(foi_name, foi_email_for(dataset), link_attrs)
%>
<section id="dgu-contact">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('datasets.contact.contact'),
        margin_bottom: 8,
        heading_level: 2,
        font_size: "m"
      } %>
    </div>

    <% if contact_email_exists?(dataset) %>
      <div class="govuk-grid-column-one-half">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('datasets.contact.enquiries'),
          margin_bottom: 4,
          heading_level: 3,
          font_size: "s"
        } %>
        
        <p class="govuk-body"><%= mail %></p>
      </div>
    <% end %>

    <% if foi_details_exist?(dataset) %>
      <div class="column-one-half foi">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('datasets.contact.foi_requests'),
          margin_bottom: 4,
          heading_level: 3,
          font_size: "s"
        } %>

        <p class="govuk-body"><%= foi_mail %></p>
        <% if foi_web_address_for(dataset).present? %>
          <p class="govuk-body"><%= link_to(t('datasets.contact.foi_message'), foi_web_address_for(dataset), link_attrs) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
