<table class = 'datafiles'>
  <tr>
    <th class="title small">Link to the data</th>
    <th>Format</th>
    <th>Last updated</th>
    <th>Data preview</th>
  </tr>
  <tbody>
    <% @dataset.datafiles.each do |datafile| %>
      <tr>
        <td class="title small">
          <%= link_to (datafile['name'] ? datafile['name'] : 'Data Link'),
              datafile['url'],
              :data => {:'ga-event' => "datafile-download"}
          %>
        </td>
        <%if datafile['format'].blank? %>
          <td class="unavailable">N/A</td>
        <% else %>
          <td><%= datafile['format'].upcase %>
          <% if datafile['size'] %>
            (<%= datafile['size'] %> kB)
          <% end %>
          </td>
        <% end %>

        <% if datafile['updated_at'].present? %>
          <td><%= format(datafile['updated_at']) %></td>
        <% else %>
          <td class="unavailable">Not available</td>
        <% end %>
          <td class="datafiles__preview">
            <% if link_type(datafile) == :html %>
              <%= link_to 'Go to site', datafile['url'] %>
            <% else %>
              <span class="unavailable">Not available</span>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
