<table class="dgu-datafiles">
  <tr>
    <th class="title small"><%= t('.link_to_data') %></th>
    <th><%= t('.format') %></th>
    <th><%= t('.file_added') %></th>
    <th><%= t('.data_preview') %></th>
  </tr>
  <tbody>
    <% datafiles.each do |datafile| %>
      <tr class="<%= show_more?(datafiles, datafile) %> dgu-datafile" itemscope itemtype="http://schema.org/DataDownload" itemprop="distribution">
        <td class="title small">
          <%= link_to (datafile.name ? datafile.name : 'Data Link'),
            datafile.url,
            :data => {
              :'ga-datafile' => datafile.url,
              :'ga-format' => (datafile.format.presence || 'n/a').upcase
            },
            :itemprop => "contentUrl"
          %>
        </td>
        <% if datafile.format.blank? %>
          <td class="dgu-secondary-text">N/A</td>
        <% else %>
          <td><span itemprop="fileFormat"><%= datafile.format.upcase %></span>
          <% if datafile.size %>
            (<%= datafile.size.number_to_human_size %> )
          <% end %>
          </td>
        <% end %>
        <% if datafile.created_at.present? %>
          <td>
            <%= format_timestamp(datafile.created_at) %>
          </td>
        <% else %>
          <td class="dgu-secondary-text">Not available</td>
        <% end %>
        <td class="datafiles__preview">
          <% if datafile.html? %>
            <%= link_to t('.go_to_site'), datafile.url %>
          <% elsif datafile.csv? %>
            <%= link_to t('.preview'), datafile_preview_path(@dataset.uuid, @dataset.name, datafile.uuid) %>
          <% else %>
            <span class="dgu-secondary-text"><%= t('.not_available') %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if datafiles.length > 5 %>
  <button class="button secondary show-toggle">Show more</button>
<% end %>
