<table class="dgu-datafiles">
  <tr>
    <th class="title small">Link to the data</th>
    <th>Format</th>
    <th>Last updated</th>
    <th>Data preview</th>
  </tr>
  <tbody>
    <% datafiles.each do |datafile| %>
      <tr>
        <td class="title small">
          <%= link_to (datafile.name ? datafile.name : 'Data Link'),
              datafile.url,
              :data => {:'ga-event' => "datafile-download"}
          %>
        </td>
        <% if datafile.format.blank? %>
          <td class="dgu-unavailable">N/A</td>
        <% else %>
          <td><%= datafile.format.upcase %>
          <% if datafile.size %>
            (<%= datafile.size %> kB)
          <% end %>
          </td>
        <% end %>

        <% if datafile.updated_at.present? %>
          <td><%= format(datafile.updated_at) %></td>
        <% else %>
          <td class="dgu-unavailable">Not available</td>
        <% end %>
          <td class="datafiles__preview">
            <% if datafile.html? %>
              <%= link_to 'Go to site', datafile.url %>
            <% elsif datafile.csv? %>
              <a href="<%= @dataset.name %>/preview/<%= datafile.uuid %>">Preview</a>
            <% else %>
              <span class="dgu-unavailable">Not available</span>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
