<% content_for :head do %>
  <%= tag.meta name: 'dc:title',   content: unescape(@dataset.title) %>
  <%= tag.meta name: 'dc:creator', content: @dataset.organisation.title %>
  <%= tag.meta name: 'dc:date',    content: Date.parse(@dataset.public_updated_at).to_formatted_s %>

  <% if @dataset.licence_title.present? %>
    <%= tag.meta name: 'dc:rights', content: @dataset.licence_title %>
  <% end %>
<% end %>

<section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" property="dc:title">
        <%= unescape(@dataset.title) %>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="summary-box">
        <%
          items = []
          items << {
            field: "#{t('.availability')}:",
            value: "Not released",
          } unless @dataset.released

          # FIXME property="dc:creator" on value
          items << {
            field: "#{t('.published_by')}:",
            value: @dataset.organisation.title,
          }

          # FIXME property="dc:date" content="%= format_timestamp(@dataset.public_updated_at) %" on value
          # items << {
          #   field: t('.last_updated'),
          #   value: format_timestamp(@dataset.public_updated_at),
          # }

          topic_value = "#{t('.topic_not_added')}:"
          topic_value = @dataset.topic['title'] if @dataset.topic

          items << {
            field: "#{t('.topic')}:",
            value: topic_value,
          }

          licence_value = t('.no_licence')
          licence_value = link_to @dataset.licence_title, @dataset.licence_url, rel: 'dc:rights', class: 'govuk-link' if @dataset.licence_url.present?
          licence_value = @dataset.licence_title if @dataset.licence_title.present?
          licence_value = t('.other_licence') if @dataset.licence_custom.present?
          licence_value = "#{licence_value}<br/>#{link_to t('.view_licence_information'), '#licence-info', class: 'govuk-link'}" if @dataset.licence_custom.present?

          # FIXME property="dc:rights"
          items << {
            field: "#{t('.licence')}:",
            value: licence_value,
          }
        %>
        <%= render "govuk_publishing_components/components/summary_list", {
          items: items,
          borderless: true,
        } %>

        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <div class="summary-box__inner">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4"><%= t('.summary') %></h2>
            <div class="js-summary" property="dc:description">
              <%= to_markdown(@dataset.summary) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-!-margin-bottom-4">
        <h3 class="govuk-heading-s"><%= t('.publisher_datasets') %></h3>
        <%= link_to search_path(filters: { publisher: @dataset.organisation.title }), class: 'govuk-link' do %>
          <%= "All datasets from #{@dataset.organisation.title}" %>
        <% end %>

        <% unless @related_datasets.empty? %>
          <h3 class="govuk-heading-s"><%= t('.related_datasets') %></h3>
          <ul>
            <% @related_datasets.each do |dataset| %>
              <li>
                <%= link_to unescape(dataset.title), dataset_path(dataset.uuid, dataset.name), class: 'govuk-link' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <h3 class="govuk-heading-s"><%= t('.search_gov_data') %></h3>
      <form action="/search" method="GET" class="dgu-search-box">
        <%= render "govuk_publishing_components/components/search" %>
      </form>
    </div>
  </div>
</section>
