
<section class="meta-data">
  <div class="grid-row">
    <section class="data-links">
      <div class="column-two-thirds">
        <h1 class="heading-large">
          <%= @dataset['title'] %>
        </h1>
        <div class="metadata-box">
          <dl class="metadata">
            <dt>Published by:</dt>
            <dd><a href="#"><%= @dataset["organisation"]["title"] %> </a></dd>
            <dt>Last updated:</dt>
            <dd><%= format(@dataset["updated_at"]) %></dd>
            <dt>Expected update:</dt>
              <% if @dataset["datafiles"].any? %>
                <dd class="<%= expected_update_class_for(@dataset['frequency'])%>">
                  <%= expected_update(@dataset) %>
                </dd>
              <% else %>
                <dd class='unavailable'>
                  This dataset has no data yet
                </dd>
              <% end %>
            <dt>Geographical area:</dt>
            <dd class="<%= expected_location_class_for(@dataset) %>">
              <%= dataset_location(@dataset) %>
            </dd>
          </dl>

          <h3 class="heading-small">
            Summary
          </h3>
          <p class="summary" style="max-height: 250px; overflow: hidden"> <%= strip_tags(@dataset["summary"]) %> </p>
        </div>
      </div>
      <div class="column-one-third top-search">

        <h3 class="heading-small">Search UK Government data</h3>
        <form id="search-form" action="/search" method="GET" >
          <fieldset>
            <div id="search-box">
              <input id="q" name="q" type="text" placeholder="" class="form-control search" autocomplete="off" value=""/>
              <button type="submit" class="search-submit">Find data</button>
            </div>
          </fieldset>
        </form>
        <%= link_to 'Search help', search_tips_path %>
      </div>
    </section>
  </div>
</section>
