<section class="meta-data">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large" itemprop="name">
        <%= unescape(@dataset.title) %>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="dgu-metadata__box dgu-metadata__box--in-dataset">
        <dl class="metadata">
          <% if @dataset.datafiles.none? %>
            <dt><%= t('.availability') %>:</dt>
            <dd>
              <span class="dgu-highlight">Not released</span>
            </dd>
          <% end %>
          <dt><%= t('.published_by') %>:</dt>
          <dd itemprop="creator" itemscope itemtype="http://schema.org/Organization">
            <%= @dataset.organisation.title %>
          </dd>

          <dt><%= t('.last_updated') %>:</dt>
          <% if @dataset.datafiles.none? %>
            <dd><%= format_timestamp(@dataset.last_updated_at) %></dd>
          <% else %>
            <dd><%= format_timestamp(most_recent_datafile(@dataset).created_at) %></dd>
          <% end %>

          <dt><%= t('.topic') %>:</dt>
          <% if @dataset.topic %>
            <dd><%= @dataset.topic['title'] %></dd>
          <% else %>
            <dd><%= t('.topic_not_added') %></dd>
          <% end %>

          <dt><%= t('.licence') %>:</dt>
          <% if @dataset.licence == 'uk-ogl' %>
            <dd itemprop="license">
              <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                <%= t('.uk_ogl') %>
              </a>
            </dd>
          <% elsif @dataset.licence_other %>
            <dd itemprop="license">
              <%= @dataset.licence_other %>
            </dd>
          <% else %>
            <dd class="dgu-unavailable">
              <%= t('.no_licence') %>
            </dd>
          <% end %>
        </dl>

        <h3 class="heading-small">
          <%= t('.summary') %>
        </h3>
        <p class="summary" style="max-height: 250px; overflow: hidden" itemprop="description">
          <%= unescape(@dataset.summary) %>
        </p>
      </div>
    </div>

    <div class="column-one-third dgu-dataset-right">
      <div class="dgu-dataset-right__sidebar__publisher_datasets">
        <h3 class="heading-small"><%= t('.publisher_datasets') %></h3>
        <%= link_to search_path(filters: { publisher: @dataset.organisation.title }), :itemprop => 'url' do %>
          <span itemprop="name"><%= "All datasets from #{@dataset.organisation.title}" %></span>
        <% end %>
      </div>

      <% unless @related_datasets.empty? %>
        <div class="dgu-dataset-right__sidebar">
          <h3 class="heading-small"><%= t('.related_datasets') %></h3>
          <ul>
            <% @related_datasets.each do |dataset| %>
              <li>
                <%= link_to unescape(dataset.title), dataset_path(dataset.short_id, dataset.name) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3 class="heading-small"><%= t('.search_gov_data') %></h3>
      <form action="/search" method="GET" class="dgu-search-box">
        <label for="q" class="visuallyhidden"><%= t('.accessibility.search_box_label') %></label>
        <input id="q"
               name="q"
               type="text"
               class="form-control dgu-search-box__input"/><button type="submit"
                                                                   class="dgu-search-box__button">
                                                            <%= t('.accessibility.search_box_button')%>
                                                           </button>
      </form>
    </div>
  </div>
</section>
