<% content_for :head do %>
  <%= tag.meta name: 'dc:title',   content: unescape(@dataset.title) %>
  <%= tag.meta name: 'dc:creator', content: @dataset.organisation.title %>
  <%= tag.meta name: 'dc:date',    content: Date.parse(@dataset.public_updated_at).to_formatted_s %>

  <% if @dataset.licence_title.present? %>
    <%= tag.meta name: 'dc:rights', content: @dataset.licence_title %>
  <% end %>
<% end %>

<section id="dgu-metadata">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="dgu-metadata dgu-metadata--in-dataset">
        <dl>
          <% unless @dataset.released %>
            <dt><%= t('.availability') %>:</dt>
            <dd>
              <span class="dgu-highlight"><%= t('.not_released') %></span>
            </dd>
          <% end %>
          <dt><%= t('.published_by') %>:</dt>

          <dd property="dc:creator">
            <%= @dataset.organisation.title %>
          </dd>

          <dt><%= t('.last_updated') %>:</dt>
          <dd property="dc:date" content="<%= format_timestamp(@dataset.public_updated_at) %>">
            <%= format_timestamp(@dataset.public_updated_at) %>
          </dd>

          <dt><%= t('.topic') %>:</dt>
          <% if @dataset.topic %>
            <dd><%= @dataset.topic['title'] %></dd>
          <% else %>
            <dd><%= t('.topic_not_added') %></dd>
          <% end %>

          <dt><%= t('.licence') %>:</dt>
          <dd property="dc:rights">
            <% if @dataset.licence_url.present? %>
              <%= link_to @dataset.licence_title,
                          @dataset.licence_url,
                          rel: 'dc:rights',
                          class: 'govuk-link' %>
            <% elsif @dataset.licence_title.present? %>
              <%= @dataset.licence_title %>
            <% elsif @dataset.licence_custom.present? %>
              <%= t('.other_licence') %>
            <% else %>
              <%= t('.no_licence') %>
            <% end %>

            <% if @dataset.licence_custom.present? %>
              <br>
              <%= link_to t('.view_licence_information'),
                            '#licence-info',
                            class: 'govuk-link' %>
            <% end %>
          </dd>
        </dl>

        <%= render "govuk_publishing_components/components/heading", {
          text: t('.summary'),
          margin_bottom: 1,
          heading_level: 3,
          font_size: "s"
        } %>

        <div class="js-summary" class="dataset-summary" property="dc:description">
          <%= to_markdown(@dataset.summary) %>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third dgu-dataset-right">
      <div class="govuk-!-margin-bottom-4">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('.publisher_datasets'),
          heading_level: 3,
          font_size: "s"
        } %>
        <%= link_to search_path(filters: { publisher: @dataset.organisation.title }), class: 'govuk-link' do %>
          <%= "All datasets from #{@dataset.organisation.title}" %>
        <% end %>
      </div>

      <% unless @related_datasets.empty? %>
        <%
          related_list_items = []
          @related_datasets.each do |dataset|
            related_list_items << sanitize(link_to unescape(dataset.title), dataset_path(dataset.uuid, dataset.name), class: "govuk-link")
          end
        %>

        <div class="govuk-!-margin-bottom-4">
          <%= render "govuk_publishing_components/components/heading", {
            text: t('.related_datasets'),
            heading_level: 3,
            font_size: "s"
          } %>
          <%= render "govuk_publishing_components/components/list", {
            items: related_list_items
          } %>
        </div>
      <% end %>

      <div class="govuk-!-margin-bottom-4">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('.search_gov_data'),
          heading_level: 3,
          font_size: "s"
        } %>

        <form action="/search" method="GET">
          <%= render "govuk_publishing_components/components/search", {
            label_text: t('.accessibility.search_box_label')
          } %>
        </form>
      </div>
    </div>
  </div>
</section>
