<section class='data-links'>
  <h2 class="heading-medium">Data links</h2>
  <table>
    <tr>
      <th class="title small">Link to the data</th>
      <th>Format</th>
      <th>Last updated</th>
      <th> </th>
      <th> </th>
    </tr>
    <tbody>
      <% @dataset.datafiles.each do |datafile| %>
        <tr>
          <td class="title small">
            <%= datafile['name'] %>
          </td>
          <%if datafile['format'].blank? %>
            <td class="unavailable">N/A</td>
          <% else %>
            <td><%= datafile['format'].upcase %></td>
          <% end %>

          <% if datafile['updated_at'].present? %>
            <td><%= format(datafile['updated_at']) %></td>
          <% else %>
            <td class="unavailable">Not available</td>
          <% end %>
            <td>
              <a href="<%= datafile['url'] %>">
                <%=format_button(datafile) %>
              </a>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
