<section class="supporting docs">
  <h2 class="heading-medium">
    <%= t('.supporting_docs')%>
  </h2>

  <table>
    <thead>
    <tr>
      <th class="title"><%= t('.link_to_doc')%></th>
      <th><%= t('.format')%></th>
      <th><%= t('.date_added')%></th>
    </tr>
    </thead>
    <tbody>
    <% dataset.docs.each do |doc| %>
      <tr>
        <td class="title">
          <a href="<%= doc.url%>"><%= doc.name %></a>
        </td>
        <td><%= doc.format or "N/A" %></td>
        <td><%= format_timestamp(doc.created_at) or "N/A" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
