<div class="grid-row">
  <div class="column-two-thirds">
    <%= link_to t('.back_link'), dataset_path(@preview['dataset_name']), class: 'link-back' %>
    <h1 class="heading-large">
      <%= @dataset.title %>
      <span class="heading-secondary dgu-home-spacer__bottom"><%= @preview['datafile_name'] %></span>
    </h1>

    <a class="button" href="<%= @preview['datafile_link'] %>"><%= t('.download_file') %></a>
  </div>
  <div class = 'column-full'>
    <section class="dgu-datafile-preview">
      <% if @content_type == 'CSV' and @preview['body'] != [] %>
        <table>
          <thead>
            <tr>
              <% @preview['body'].first.each do |col| %>
                <th><%= col %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @preview['body'].drop(1).each do |row| %>
              <tr>
                <% row.each do |col| %>
                  <td><%= col %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= t('.no_preview_avail') %>  <%= @preview ? "‘"+@preview['datafile_name']+"’" : 'this file.' %></p>
      <% end %>
    </section>
  </div>
</div>
