<main id="content" role="main">
  <%= render "breadcrumb" %>
  <%= render "meta_data" %>

  <% unless @dataset.datafiles.empty? %>
    <%= render partial: "timeseries_data", locals: { datafiles: @timeseries_datafiles } %>
    <%= render partial: "non_timeseries_data", locals: { datafiles: @non_timeseries_datafiles } %>
  <% end %>

  <% if @dataset.notes.present? %>
    <%= render "additional_info" %>
  <% end %>

  <% unless no_documents?(@dataset.datafiles) %>
    <%= render "supporting_docs" %>
  <% end %>

  <% if @dataset.organisation['contact_email'].present? %>
    <%= render "contact" %>
  <% end %>

</main>
