<main id="content" role="main">
  <%= render "breadcrumb" %>
  <%= render "meta_data" %>

  <% unless @dataset.datafiles.empty? %>
    <div class="grid-row">
      <div class="column-full">
        <section class="dgu-datalinks">
          <h2 class="heading-medium"><%= t('.data_links')%>
            <% if @timeseries_datafiles.present? %>
              <!-- accordions for time series datasets -->
              <span class="showHide-open-all"><%= t('.open_all')%></span>
            <% end %>
          </h2>

          <% if @timeseries_datafiles.present? %>
            <%= render partial: "timeseries_data", locals: { datafiles: @dataset.datafiles } %>
          <% else %>
            <%= render partial: "non_timeseries_data", locals: { datafiles: @dataset.datafiles } %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <% if @dataset.notes.present? %>
    <%= render "additional_info" %>
  <% end %>

  <% unless no_documents?(@dataset.datafiles) %>
    <%= render "supporting_docs" %>
  <% end %>

  <% if @dataset.organisation['contact_email'].present? %>
    <%= render "contact" %>
  <% end %>
</main>
