<% content_for :page_title do %><%= @dataset.title %><% end %>

<script type="application/ld+json">
 <%= raw to_json_ld(@dataset) %>
</script>

<%= content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end%>

<%= render "meta_data" %>

<section class="govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-m">
    <%= t('.data_links')%>
    <% unless @timeseries_datafiles.empty? %>
      <!-- accordions for time series datasets -->
      <span class="showHide-open-all"><%= t('.open_all') %></span>
    <% end %>
  </h2>

  <% unless @timeseries_datafiles.empty? %>
    <%= render partial: "timeseries_data", locals: { datafiles: @timeseries_datafiles } %>
  <% end %>

  <% unless @non_timeseries_datafiles.empty? %>
    <%= render partial: "non_timeseries_data", locals: { datafiles: @non_timeseries_datafiles } %>
  <% end %>

  <% if @dataset.datafiles.empty? %>
    <%= render partial: "no_datafiles", locals: { dataset: @dataset } %>
  <% end %>
</section>

<% if @dataset.description.present? || @dataset.inspire_dataset.present? %>
  <%= render partial: "additional_info", locals: { dataset: @dataset } %>
<% end %>

<% unless @dataset.docs.empty? %>
  <%= render partial: "supporting_docs", locals: { dataset: @dataset } %>
<% end %>

<% if contact_information_exists?(@dataset) %>
  <%= render partial: "contact", locals: { dataset: @dataset } %>
<% end %>

<% if @dataset.licence_custom.present? %>
  <section class="govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-m" id="licence-info">
      <%= t('.licence_information') %>
    </h2>
    <p class="govuk-body">
      <%= to_markdown(@dataset.licence_custom) %>
    </p>
  </section>
<% end %>

<% if @dataset.editable? %>
  <section class="govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-m"><%= t('datasets.publishers.title') %></h2>
    <%= render "govuk_publishing_components/components/inset_text", {
      text: t('datasets.publishers.information')
    } %>
    <%= link_to t('datasets.publishers.button'), "/dataset/edit/#{@dataset.legacy_name}", role: 'button', class: 'govuk-button', rel: %w(nofollow) %>
  </section>
<% end %>
