<% content_for :page_title do %><%= @dataset.title %><% end %>

<script type="application/ld+json">
 <%= raw to_json_ld(@dataset) %>
</script>

<%= content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end%>

<main role="main" id="main-content" class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
          text: unescape(@dataset.title),
          margin_bottom: 8,
          heading_level: 1,
          font_size: "l"
        } %>
    </div>
  </div>

  <%= render "meta_data" %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <section id="dgu-datalinks">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('.data_links'),
          margin_bottom: 4,
          heading_level: 2,
          font_size: "m"
        } %>

        <% unless @timeseries_datafiles.empty? %>
          <%= render partial: "timeseries_data", locals: { datafiles: @timeseries_datafiles } %>
        <% end %>

        <% unless @non_timeseries_datafiles.empty? %>
          <%= render partial: "non_timeseries_data", locals: { datafiles: @non_timeseries_datafiles } %>
        <% end %>

        <% if @dataset.datafiles.empty? %>
          <%= render partial: "no_datafiles", locals: { dataset: @dataset } %>
        <% end %>

      </section>
    </div>
  </div>

  <% if @dataset.description.present? || @dataset.inspire_dataset.present? %>
    <%= render partial: "additional_info", locals: { dataset: @dataset } %>
  <% end %>

  <% unless @dataset.docs.empty? %>
    <%= render partial: "supporting_docs", locals: { dataset: @dataset } %>
  <% end %>

  <% if contact_information_exists?(@dataset) %>
    <%= render partial: "contact", locals: { dataset: @dataset } %>
  <% end %>

  <% if @dataset.licence_custom.present? %>
    <section id="dgu-licence-info">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/heading", {
            text: t('.licence_information'),
            margin_bottom: 4,
            heading_level: 2,
            font_size: "m"
          } %>
          <p class="dgu-licence-info__notes">
            <%= to_markdown(@dataset.licence_custom) %>
          </p>
        </div>
      </div>
    </section>
  <% end %>

  <% if @dataset.editable? %>
    <section id="dgu-editable">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/heading", {
            text: t('datasets.publishers.title'),
            margin_bottom: 4,
            heading_level: 2,
            font_size: "m"
          } %>
          
          <div class="govuk-details__text govuk-!-margin-bottom-4">
            <%= t('datasets.publishers.information') %>
          </div>
          <%= render "govuk_publishing_components/components/button", {
            text: t('datasets.publishers.button'),
            href: "/dataset/edit/#{@dataset.legacy_name}"
          } %>
        </div>
      </div>
    </section>
  <% end %>
</main>
