<main id="content" role="main">
  <%= render "breadcrumb" %>
  <%= render "meta_data" %>

  <% unless @dataset.datafiles.empty? %>
    <div class="grid-row">
      <div class="column-full">
        <section class="dgu-datalinks">
          <h2 class="heading-medium"><%= t('.data_links')%>
            <% if @timeseries_datafiles.present? %>
              <!-- accordions for time series datasets -->
              <span class="showHide-open-all"><%= t('.open_all')%></span>
            <% end %>
          </h2>
          <% unless @timeseries_datafiles.empty? %>
            <%= render partial: "timeseries_data", locals: { datafiles: @timeseries_datafiles } %>
          <% end %>
          <% unless @non_timeseries_datafiles.empty? %>
            <%= render partial: "non_timeseries_data", locals: { datafiles: @non_timeseries_datafiles } %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>f

  <%= render "additional_info" %>

  <% unless no_documents?(@dataset.datafiles) %>
    <%= render "supporting_docs" %>
  <% end %>

  <% if @dataset.organisation['contact_email'].present? %>
    <%= render "contact" %>
  <% end %>
</main>
