<% content_for :page_title do %>
  <%= @dataset.title %> -
<% end %>

<main id="content" role="main">
  <%= render "breadcrumb" %>
  <%= render "meta_data" %>

  <% unless @dataset.datafiles.empty? %>
    <div class="grid-row">
      <div class="column-full">
        <section class="dgu-datalinks">
          <h2 class="heading-medium"><%= t('.data_links')%>
            <% if @timeseries_datafiles.present? %>
              <!-- accordions for time series datasets -->
              <span class="showHide-open-all"><%= t('.open_all')%></span>
            <% end %>
          </h2>
          <% unless @timeseries_datafiles.empty? %>
            <%= render partial: "timeseries_data", locals: { datafiles: @timeseries_datafiles } %>
          <% end %>
          <% unless @non_timeseries_datafiles.empty? %>
            <%= render partial: "non_timeseries_data", locals: { datafiles: @non_timeseries_datafiles } %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <%= render "additional_info" %>

  <% unless no_documents?(@dataset.datafiles) %>
    <%= render "supporting_docs" %>
  <% end %>


  <% if contact_details_exist?(@dataset) %>
    <section class="contact">
      <div>
        <h2 class="heading-medium">
          <%= t('datasets.contact.contact') %>
        </h2>

        <% if contact_email_exists?(@dataset) %>
          <div class="column-one-half">
            <h3 class="heading-small">
              <%= t('datasets.contact.enquiries') %>
            </h3>

            <p>
              <%= @dataset.contact_name.presence || @dataset.organisation.contact_name %></br>
              <%= mail_to(@dataset.contact_email || @dataset.organisation.contact_email) %>
            </p>
          </div>
        <% end %>

        <% if foi_email_exists?(@dataset) %>
          <div class="column-one-half foi">
            <h3 class="heading-small">
              <%= t('datasets.contact.foi_requests') %>
            </h3>

            <p>
              <%= @dataset.foi_name.presence || @dataset.organisation.foi_name %></br>
              <%= mail_to(@dataset.foi_email || @dataset.organisation.foi_email) %>
            </p>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</main>
