<%# locals: title: string
description: string
description_html: string
value: string/number
comparison: string
comparison_html: string
trend: :up or :down
value_change: string/number
percent_change: string/number
side_class: string
%>

<% is_up = (trend.to_sym == :up) %>
<% trend_class = is_up ? "datagovuk-split-chart__change--up" : "datagovuk-split-chart__change--down" %>
<% arrow = is_up ? "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='m17 14l-5-5l-5 5' stroke-width='1'/></svg>".html_safe : "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/></svg>".html_safe %>

<div class="govuk-grid-column-one-half datagovuk-split-chart__col <%= side_class %>">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2"><%= title %></h2>
    <p class="govuk-body datagovuk-split-chart__subtitle govuk-!-margin-bottom-6">
        <% if local_assigns[:description_html].present? %>
            <%= description_html %>
        <% else %>
            <%= simple_format(description, {}, wrapper_tag: nil) %>
        <% end %>
    </p>
    <p class="datagovuk-split-chart__value govuk-!-margin-bottom-2">
        <%= value.is_a?(Numeric) ? number_with_delimiter(value) : value %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
        <% if local_assigns[:comparison_html].present? %>
            <%= comparison_html %>
        <% else %>
            <%= simple_format(comparison, {}, wrapper_tag: nil) %>
        <% end %>
    </p>

    <p class="datagovuk-split-chart__change <%= trend_class %> govuk-!-margin-bottom-0">
        <span class="datagovuk-split-chart__arrow" aria-hidden="true"><%= arrow %></span>
        <span class="datagovuk-split-chart__change-value"><%= value_change %></span>
        <span class="datagovuk-split-chart__change-value-prc">(<%= percent_change %>%)</span>
    </p>
</div>