<header role="banner" class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-grid-row">
      <nav class="govuk-grid-column-full datagovuk__nav" aria-label="Collections navigation">
        <a href="<%= root_path %>" class="govuk-header__link datagovuk-logo">
          <%= image_tag "v2/logo-desktop", alt: "data.gov.uk logo" %>
        </a>
        <ul class="govuk-header__navigation">          
          <li class="govuk-header__navigation-item datagovuk-nav-item--has-dropdown">
            <button class="govuk-header__link datagovuk-nav-dropdown__toggle" aria-expanded="false" aria-controls="collections-menu">
              <%= t(".collections") %>  
              <span class="datagovuk-nav-dropdown__chevron" aria-hidden="true"></span>
            </button>
          </li>

          <li class="govuk-header__navigation-item datagovuk-manual-nav-item--has-dropdown">
            <button class="govuk-header__link datagovuk-manual-nav-dropdown__toggle" aria-expanded="false" aria-controls="data-manual-menu">
              <%= t(".data_manual") %>  
              <span class="datagovuk-manual-nav-dropdown__chevron" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-width-container collections-row">
      <div id="collections-menu" class="collections-menu datagovuk-nav-dropdown__menu">
        <% if local_assigns[:collections].present? %>
          <% local_assigns[:collections].each do |collection| %>
            <div class="datagovuk-nav-item">
              <a class="govuk-header__link" href="/collections/<%= collection.slug %>">
                <%= collection.title %>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="govuk-width-container manual-row">
      <div id="data-manual-menu" class="data-manual-menu datagovuk-manual-nav-dropdown__menu">
        <% if local_assigns[:data_manuals].present? %>
          <% local_assigns[:data_manuals].each do |manual| %>
            <div class="datagovuk-nav-item">
              <a class="govuk-header__link" href="/collections/<%= manual.slug %>">
                <%= manual.title %>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>