<%
  chart_data = @chart_data || {}
  barchart = @bar_chart || {}
%>

<h1 class="govuk-heading-l datagovuk-heading-l"><%= @title %></h1>

<section class="govuk-section datagovuk-section">
    <%= @body %>
</section>

<% if chart_data["visualisation_type"] == "line" %>
    <section class="govuk-section datagovuk-section">
      <%= render partial: "v2/collection/charts/line_chart", locals: {
          max_value: chart_data["max_value"],
          title: chart_data["title"],
          empty_description: "No data available",
          number_base: chart_data["number_base"],
          data_series: chart_data["series"],
          download: chart_data["download"]
      } %>
    </section>
<% elsif chart_data["visualisation_type"] == "headline" %>
  <%= render partial: "v2/collection/charts/headline/headline", locals: {
    title: chart_data["title"],
    source: chart_data["source"],
    items: [{
      subtitle: chart_data["items"][0]["subtitle"],
      description: chart_data["items"][0]["description"],
      value: chart_data["items"][0]["value"],
      analysis: chart_data["items"][0]["analysis"],
      trend: chart_data["items"][0]["trend"],
      value_change: chart_data["items"][0]["value_change"],
      percent_change: chart_data["items"][0]["percent_change"]
    },
    {
      subtitle: chart_data["items"][1]["subtitle"],
      description: chart_data["items"][1]["description"],
      value: chart_data["items"][1]["value"],
      analysis: chart_data["items"][1]["analysis"],
      trend: chart_data["items"][1]["trend"],
      value_change: chart_data["items"][1]["value_change"],
      percent_change: chart_data["items"][1]["percent_change"]
    }]
  } 
  %>
<% elsif barchart["visualisation_type"] == "bar" %>
  <%= render partial: "v2/collection/charts/bar_chart", locals: {
    title: barchart["title"],
    data: barchart
  } %>
<% end %>

<%= render partial: "v2/components/feedback", locals: { dataset: true } %>

<%= render partial: "v2/collection/get_data", locals: { page_last_updated: @page_last_updated, websites: @websites, api_link: @api_link, dataset: @dataset } %>
