<% chart_data = @chart_data || {} %>
<% collection_topic_path = @collection_topic_path || "" %>

<section class="govuk-section datagovuk-section">
  <%= @body %>
</section>

<% if chart_data["visualisation_type"].present? %>
  <section class="datagovuk-headline govuk-section datagovuk-section govuk-!-margin-top-8">
    <%= render partial: chart_partial_path(chart_data["visualisation_type"]), locals: chart_locals(chart_data) %>

    <% if chart_data["visualisation_type"] == "headline" && chart_data["source"].present? %>
      <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
        <a href="<%= chart_data["source"] %>" class="govuk-link datagovuk-link">Source</a>
      </p>
    <% end %>

    <% if chart_data["download"].present? %>
      <p class="govuk-body datagovuk-body govuk-!-margin-top-4">
        <a href="<%= collection_topic_path %>/charts/<%= chart_data["download"] %>" class="govuk-link datagovuk-link">Download the chart data</a>
      </p>
    <% end %>
  </section>
<% end %>

<%= render partial: "v2/components/feedback", locals: { dataset: true } %>

<%= render partial: "v2/collection/get_data", locals: { page_last_updated: @page_last_updated, websites: @websites, api_link: @api_link, dataset: @dataset } %>
