<h1 class="govuk-heading-l datagovuk-heading-l"><%= @title %></h1>

<%= @body %>

<%= yield if block_given? %>

<%= render partial: "v2/collection/feedback" %>

<%= render partial: "v2/collection/get_data", locals: { page_last_updated: @page_last_updated, websites: @websites, api_link: @api_link, dataset: @dataset } %>
