<h2 class="govuk-heading-l datagovuk-heading-l"><%= @title %></h2>
<%= @body %>

<%= yield if block_given? %>

<%= render partial: "v2/collection/feedback" %>

<%= render partial: "v2/collection/get_data", locals: { page_last_updated: @page_last_updated, website: @website, api: @api } %>