<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>

    <section class="datagovuk-section">
        <ul class="datagovuk__list">
            <% if local_assigns[:dataset] %>
                    <li class="datagovuk__item datagovuk__item--active">
                        <a class="govuk-link datagovuk-link" href="<%= local_assigns[:dataset] %>">Dataset</a>
                    </li>
            <% end %>
        </ul>
        <%= link_to local_assigns[:website] || "#", role: 'button', class: 'govuk-button datagovuk-more-info-btn', rel: %w(nofollow) do %>
            More information <span class='datagovuk-right-arrow'>&#8594;</span>
        <% end %>
        <ul class="datagovuk__list">
            <% if local_assigns[:api_link] %>
                <li class="datagovuk__item datagovuk__item--active">
                    <a class="govuk-link datagovuk-link"href="<%= local_assigns[:api_link] %>">API documentation</a>
                </li>
            <% end %>
            <% if local_assigns[:datasets_download_link].present? %>
                <li class="datagovuk__item datagovuk__item--active">
                    <a class="govuk-link datagovuk-link"href="<%= local_assigns[:datasets_download_link] %>">Download the datasets</a>
                </li>
            <% end %>
        </ul>
    </section>

    <section class="datagovuk-section">
        <% if local_assigns[:page_last_updated] %>
            <p>The page was last updated <%= local_assigns[:page_last_updated] %></p>
        <% end %>
    </section>
</section>