
<section class="datagovuk-link datagovuk-section" aria-label="Get the data links">
    <section class="datagovuk-section">
        <h3 class="govuk-heading-m datagovuk-heading-m">Get the data</h3>
        <% websites = local_assigns[:websites] || [] %>
        <% if websites.length == 1 %>
          <%= link_to websites.first["url"], role: 'button', class: 'govuk-button datagovuk-button', rel: %w(nofollow) do %>
            <%= websites.first["link-text"] %> <span class="datagovuk-right-arrow">&#8594;</span>
          <% end %>
        <% elsif websites.length > 1 %>
        <ul class="govuk-list datagovuk-list">
            <% websites.each do |site| %>
                <li>
                    <a class="govuk-link datagovuk-link" href="<%= site['url'] %>"><%= site["link-text"] %></a>
                </li>
            <% end %>
        </ul>
        <% end %>
    </section>
    <section class="datagovuk-section">
        <% if local_assigns[:page_last_updated] %>
            <p class="govuk-body datagovuk-body">The page was last updated <%= local_assigns[:page_last_updated] %></p>
        <% end %>
    </section>
</section>
