<%= yield :top_of_page %>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><![endif]-->
<!--[if gt IE 8]><!--><html lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><!--<![endif]-->
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <% 
      gtm_auth = ENV["GOOGLE_TAG_MANAGER_AUTH"]
      gtm_preview = ENV["GOOGLE_TAG_MANAGER_PREVIEW"]
    
      gtm_attributes = []
        gtm_attributes << "gtm_auth=" + gtm_auth if gtm_auth
        gtm_attributes << "gtm_preview=#{gtm_preview}&gtm_cookies_win=x" if gtm_preview
      gtm_attributes = gtm_attributes.join('&')
    %>
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&<%= raw gtm_attributes %>';f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>');
    </script>
  <% end %>

    <%# The below preconnect links save in performance costs %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) + " - " + local_assigns[:collection] : local_assigns[:collection] %></title>

    <%# the colour used for theme-color is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'overrides/main' %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>
<body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%= render "govuk_publishing_components/components/cookie_banner", {
      title: t('.cookie_banner.title'),
      text: sanitize("We use <a href='/cookies' class='govuk-link'>cookies to collect information</a> about how you use data.gov.uk. We use this information to make the website work as well as possible."),
      cookie_preferences_href: "/cookies",
    } %>

    <%= render "govuk_publishing_components/components/skip_link", {} %>

    <%= render partial: "version_2/header", locals: { collections: @collections } %>

    <%= yield %>

    <%= render "govuk_publishing_components/components/layout_footer", {
      meta: {
        items: [
          {
            href: "/roadmap",
            text: "Roadmap"
          },
          {
            href: "/report-a-problem",
            text: "Report a problem"
          },
          {
            href: "/team",
            text: "Team"
          },
          {
            href: "/data-directory",
            text: "Data directory"
          },
          {
            href: "/accessibility",
            text: "Accessibility"
          },
          {
            href: "/cookies",
            text: "Cookies"
          }
        ]
      }
    } %>
</body>
</html>