<div class="govuk-width-container datagovuk-width-container datagovuk-collection-header">
    <%= image_tag 'v2/collections/badge-' + @collection + '.png', class: "datagovuk-collection-header__image" %>
    <p class="govuk-body datagovuk-body datagovuk-body-uppercase">
        <%= t(".page_name") %>
    </p>
    <h2 class="datagovuk-collection-name govuk-heading-xl datagovuk-heading-xl">
        <%= @collection.gsub("-", " ").humanize %>
    </h2>
    <div class="datagovuk-collection-header__underline"></div>
</div>
<div class="govuk-width-container datagovuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <%= render partial: "v2/components/section_navigation", locals: {
              items: @collection_pages
            } %>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <%= render template: @view_template, locals: { collections: @collections } %>

            <nav class="datagovuk-collection-pagination">
              <% if @previous_page %>
                <a class="datagovuk-collection-pagination__card" href="<%= @previous_page[:url] %>">
                  <div class="datagovuk-collection-pagination__card-inner">
                    <%= image_tag "v2/icons/arrow.svg", class: "datagovuk-collection-pagination__arrow datagovuk-collection-pagination__arrow--previous", alt: "" %>
                    <p class="govuk-body datagovuk-body">
                      <%= @previous_page[:title] %>
                    </p>
                  </div>
                </a>
              <% end %>
              <% if @next_page %>
                <a class="datagovuk-collection-pagination__card" href="<%= @next_page[:url] %>">
                  <div class="datagovuk-collection-pagination__card-inner">
                    <%= image_tag "v2/icons/arrow.svg", class: "datagovuk-collection-pagination__arrow datagovuk-collection-pagination__arrow--next", alt: "" %>
                    <p class="govuk-body datagovuk-body">
                      <%= @next_page[:title] %>
                    </p>
                  </div>
                </a>
              <% end %>
              </div>
            </nav>
        </div>
    </div>
</div>
