<div class="dgu-split-background__bottom">
  <div class="grid-row dgu-topics">
    <div class="column-one-third">
      <div>
        <ol>
          <li>
            <h3><%= link_to t('.business_and_economy_label'), topics_path(t('.business_and_economy_label')) %></h3>
            <p><%= t('.business_and_economy_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.crime_and_justice_label'), topics_path(t('.crime_and_justice_label')) %></h3>
            <p><%= t('.crime_and_justice_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.defence_label'), topics_path(t('.defence_label')) %></h3>
            <p><%= t('.defence_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.education_label'), topics_path(t('.education_label')) %></h3>
            <p><%= t('.education_description') %></p>
          </li>
        </ol>
      </div>
    </div>

    <div class="column-one-third">
      <div>
        <ol>
          <li>
            <h3><%= link_to t('.environment_label'), topics_path(t('.environment_label')) %></h3>
            <p><%= t('.environment_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.government_label'), topics_path(t('.government_label')) %></h3>
            <p><%= t('.government_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.government_spending_label'), topics_path(t('.government_spending_label')) %></h3>
            <p><%= t('.government_spending_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.health_label'), topics_path(t('.health_label')) %></h3>
            <p><%= t('.health_description') %></p>
          </li>
        </ol>
      </div>
    </div>
    <div class="column-one-third">
      <div>
        <ol>
          <li>
            <h3><%= link_to t('.mapping_label'), topics_path(t('.mapping_label')) %></h3>
            <p><%= t('.mapping_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.society_label'), topics_path(t('.society_label')) %></h3>
            <p><%= t('.society_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.towns_and_cities_label'), topics_path(t('.towns_and_cities_label')) %></h3>
            <p><%= t('.towns_and_cities_description') %></p>
          </li>
          <li>
            <h3><%= link_to t('.transport_label'), topics_path(t('.transport_label')) %></h3>
            <p><%= t('.transport_description') %></p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
