<div class="dgu-split-background">
  <main role="main" tabindex="-1" id="content">

    <div class="dgu-split-background__top">
      <div class="dgu-split-background__top-inner">
        <div class="dgu-home-search">
          <div class="grid-row">
            <div class="column-two-thirds">
              <h1 class="heading-xlarge">
                <%= t('.find_gov_data') %>
              </h1>
              <p class="lede">
                <%= t('.lede') %>
              </p>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-two-thirds dgu-search-box">
              <form action="/search" method="GET">
                <label for="q" class="visuallyhidden"><%= t('.accessibility.search_box_label') %></label>
                <input id="q"
                       name="q"
                       type="text"
                       class="form-control dgu-search-box__input"
                />
                <button type="submit"
                        class="dgu-search-box__button">
                  <%= t('.accessibility.search_button_label') %>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dgu-split-background__bottom">
      <div class="grid-row">
        <div class="column-one-third">
          <div>
            <ol>
              <li>
                <h3><%= link_to t('.topics.business_and_economy_label'), root_path %></h3>
                <p><%= t('.topics.business_and_economy_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.crime_and_justice_label'), root_path %></h3>
                <p><%= t('.topics.crime_and_justice_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.defence_label'), root_path %></h3>
                <p><%= t('.topics.defence_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.education_label'), root_path %></h3>
                <p><%= t('.topics.education_description') %></p>
              </li>
            </ol>
          </div>
        </div>

        <div class="column-one-third">
          <div>
            <ol>
              <li>
                <h3><%= link_to t('.topics.environment_label'), root_path %></h3>
                <p><%= t('.topics.environment_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.government_label'), root_path %></h3>
                <p><%= t('.topics.government_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.government_spending_label'), root_path %></h3>
                <p><%= t('.topics.government_spending_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.health_label'), root_path %></h3>
                <p><%= t('.topics.health_description') %></p>
              </li>
            </ol>
          </div>
        </div>

        <div class="column-one-third">
          <div>
            <ol>
              <li>
                <h3><%= link_to t('.topics.mapping_label'), root_path %></h3>
                <p><%= t('.topics.mapping_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.society_label'), root_path %></h3>
                <p><%= t('.topics.society_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.towns_and_cities_label'), root_path %></h3>
                <p><%= t('.topics.towns_and_cities_description') %></p>
              </li>
              <li>
                <h3><%= link_to t('.topics.transport_label'), root_path %></h3>
                <p><%= t('.topics.transport_description') %></p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
