<h2 class="heading-medium"> <%= t(".filter_by") %></h2>

<div class="govuk-form-group">
  <%= label_tag "publisher", t(".filter_by_publisher"), class: "govuk-label" %>
  <%= select_tag("filters[publisher]", options_for_select(Search::Solr.get_organisations, selected_organisation), id: "publisher", class: "govuk-select dgu-filters__filter js-accessible-autocomplete", include_blank: true) %>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: t(".accessibility.submit_button"),
  margin_bottom: true
} %>
<p class="govuk-body"><%= link_to t(".remove_filters"), search_solr_path(q: @query), class: "govuk-link" %></p>
