<% content_for :page_title do %>
  Accessibility
<% end %>

<main role="main" id="content">

  <div class="text">

    <h1 class="heading-large">
      Accessibility statement for Find open data
    </h1>

    <p>
      This accessibility statement applies to Find open data at <%= link_to 'https://data.gov.uk/', '/', target: :blank, class: 'govuk-link' %>
    </p>

    <p>
     This website is run by the GOV.UK team at the Government Digital Service (GDS).
     We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>

    <ul class="list list-bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without problems</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <p>
      We’ve also made the website text as simple as possible to understand.
    </p>

    <p>
      <%= link_to 'AbilityNet', 'https://mcmw.abilitynet.org.uk/', target: :blank, class: 'govuk-link' %> has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="heading-medium">
      How accessible this website is
    </h2>

    <p>
      We know some parts of this website are not fully accessible for the following reasons:
    </p>

    <ul class="list list-bullet">
      <li>Find open data links to several external websites belonging to other government organisations. We cannot guarantee that these websites meet our accessibility requirements.</li>
      <li>Some data sets have broken links.</li>
    </ul>

    <h2 class="heading-medium">
      Feedback and contact information
    </h2>

    <p>
      If you need any part of this service in a different format like large print, audio recording or braille, please contact the data set publisher.
      Their contact details should be on the data set’s page.
    </p>


    <h2 class="heading-medium">
      Reporting accessibility problems with this website
    </h2>

    <p>
      We’re always looking to improve the accessibility of this website.
      If you find any problems not listed on this page or think we’re not meeting accessibility requirements, please select ‘Report a problem’ on the data.gov.uk <%= link_to 'Support page', '/support', target: :blank, class: 'govuk-link' %>.
    </p>

    <h2 class="heading-medium">
      Enforcement procedure
    </h2>

    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      If you’re not happy with how we respond to your complaint, <%= link_to 'contact the Equality Advisory and Support Service (EASS)', 'https://www.equalityadvisoryservice.com/', target: :blank, class: 'govuk-link' %>.
    </p>

    <h2 class="heading-medium">
      Technical information about this website’s accessibility
    </h2>

    <p>
      GDS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="heading-medium">
      Compliance status
    </h2>

    <p>
      This website is partially compliant with the <%= link_to 'Web Content Accessibility Guidelines version 2.1','https://www.w3.org/TR/WCAG21/', target: :blank, class: 'govuk-link'%> AA standard, due to the non-compliances listed below.
    </p>

    <h2 class="heading-small">
      Non-accessible content
    </h2>

    <p>
      The content listed below is non-accessible for the following reasons.
    </p>

    <h3 class="heading-small">
      Non-compliance with the accessibility regulations
    </h3>

    <p>
      Find open data links to several external websites belonging to other government organisations. We cannot guarantee that these websites meet our accessibility requirements. This is not a fail under any specific WCAG criterion, but should be looked at in order to maximise accessibility.
    </p>

    <p>
      Some data sets have broken links. This fails WCAG 2.1 success criterion 2.4.4 (Link Purpose).
    </p>

    <h2 class="heading-medium">
      How we tested this website
    </h2>

    <p>
      We commissioned an expert agency (Digital Accessibility Centre) to review the website.
    </p>

    <h2 class="heading-medium">
      What we’re doing to improve accessibility
    </h2>

    <p>
      We will adopt improvements to the GOV.UK design system as part of any future work on Find Open Data.
    </p>

    <h2 class="heading-medium">
      Preparation of this accessibility statement
    </h2>

    <p>
      This statement was prepared on 21 September 2020. It was last reviewed on 22 September 2020.
    </p>

    <p>
      This website was last tested in May 2019. The test was carried out by Digital Accessibility Centre.
    </p>
  </div>
</main>
