<% content_for :page_title do %>
  Privacy -
<% end %>

<h1 class="heading-large">
  Privacy
</h1>

<p>We collect certain information or data about you when you use data.gov.uk.</p>

<p>We collect:</p>

<ul class="list list-bullet">
  <li>questions, queries or feedback you leave, including your email address if you contact data.gov.uk</li>
  <li>your IP address, and details of which version of <%= link_to 'web browser', 'https://www.gov.uk/help/browsers' %> you used</li>
  <li>information on how you use the site, using <%= link_to 'cookies', 'https://www.gov.uk/help/cookies' %> and page tagging techniques</li>
</ul>

<p>This data can be viewed by authorised people in the <%= link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service' %> (GDS) and our suppliers, to:</p>

<ul class="list list-bullet">
  <li>improve the site by monitoring how you use it</li>
  <li>gather feedback to improve our services, for example our email alerts</li>
  <li>respond to any feedback you send us, if you've asked us to</li>
  <li>send email alerts to users who request them</li>
  <li>allow you to access government services and make transactions</li>
  <li>provide you with information about local services if you want it</li>
</ul>

<h2 class="heading-medium">
  Where your data is stored
</h2>

<p>We store your data on secure servers in the <%= link_to 'European Economic Area', 'https://www.gov.uk/eu-eea' %> (EEA) (except for data that we gather when you sign up to our email alerts).</p>

<p>Some of our suppliers are based outside the EEA. We have strict controls over how and why your data can be accessed.</p>

<p>By submitting your personal data, you agree to this.</p>

<h2 class="heading-medium">
  Keeping your data secure
</h2>

<p>Sending information over the internet is generally not completely secure, and we can’t guarantee the security of your data while it’s in transit.</p>

<p>Any data you send is at your own risk.</p>

<p>We have procedures and security features in place to keep your data secure once we receive it.</p>

<h2 class="heading-medium">
  Disclosing your information
</h2>

<p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our <%= link_to "terms of use", terms_path %> and other agreements. This includes exchanging information with other government departments for legal reasons.</p>

<p>We won't share your information with any other organisations for marketing, market research or commercial purposes, and we don't pass on your details to other websites.</p>
