<% content_for :page_title do %>Publishers<% end %>

<%= content_for :breadcrumb do %>
  <%= render 'shared/breadcrumb' %>
<% end%>

<main role="main" id="content">
  <div class="text">
    <h1 class="heading-large">
      Publish your data
    </h1>

    <p>
      You must have a Data publisher account to publish data for your
      organisation. If you already have one, sign in to get started.
    </p>

    <p>
      <%= link_to 'Sign in', '/user/login', role: 'button', class: 'button', rel: %w(nofollow) %>
    </p>

    <div role="note" aria-label="Publisher information" class="panel panel-border-narrow text">
      <p>
        To make any changes to an existing dataset, publishers must go to the
        dataset they want to change, go to the bottom of the page in the Edit
        this dataset section, and then sign in.
      </p>
    </div>

    <h2 class="heading-medium">
      Become a publisher
    </h2>

    <p>
      To get started, take a look at the <%= link_to 'information about publishing datasets', 'https://guidance.data.gov.uk/publish_and_manage_data/', target: '_blank' %>.
      You can also <%= link_to 'ask us for help', support_path %>.
    </p>
  </div>
</main>
