<% content_for :page_title do %><%= t(".#{@ticket.support}_request") %><% end %>

<%= content_for :breadcrumb do %>
  <%= render 'shared/breadcrumb' %>
<% end%>

<main role="main" id="main-content" class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render "govuk_publishing_components/components/heading", {
        text: "Other urgent requests",
        margin_bottom: 4,
        heading_level: 1,
        font_size: "l",
      } %>

      <p class="govuk-body">If your request is urgent, please use <%= link_to 'the form', 'https://www.gov.uk/contact/govuk', class: 'govuk-link' %> and mention that it's about data.gov.uk.</p>
    </div>
  </div>
</main>
