<% content_for :page_title do %><%= @datafile.name %><% end %>

<main role="main" id="content">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= link_to t('.back_link'), dataset_path(@dataset.uuid, @dataset.name), class: 'link-back' %>
      <h1 class="heading-large">
        <%= @dataset.title %>
        <span class="heading-secondary dgu-home-spacer__bottom"><%= @datafile.name %></span>
      </h1>

      <% if @datafile.csv? && @datafile.preview.exists? %>
        <p>You're previewing the first <%= @datafile.preview.line_count %> rows of this file.</p>
        <%= link_to download_text(@dataset, @datafile), @datafile.url,
          class: "button",
          data: {
            "ga-event" => "preview-download",
            "ga-format" => "CSV",
            "ga-publisher" => @dataset.organisation.name,
          }
        %>

        <% if @dataset.organogram? %>
          <%= link_to "View the full organogram", "#organogram", class: "button" %>
        <% end %>
    </div>
    <div class = 'column-full'>
      <section class="dgu-datafile-preview">
        <div class="dgu-datafile-preview__inner">
          <table>
            <thead>
              <tr>
                <% @datafile.preview.headers.each do |col| %>
                  <th><%= col %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @datafile.preview.rows.each do |row| %>
                <tr>
                  <% row.each do |col| %>
                    <td><%= col %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% else %>
          <p><%= "#{t('.no_preview_avail')} \"#{@datafile.name}\"" %></p>
        <% end %>
      </section>

      <% if @dataset.organogram? %>
        <section id="organogram" data-csv-url="<%= @datafile.url %>">
        </section>
      <% end %>
    </div>
  </div>
</main>
