
  <section class="dgu-additional-info">
    <h2 class="heading-medium">
      <%= t('.additional_info') %>
    </h2>

    <% if dataset.inspire_dataset.present? %>
      <% i = dataset.inspire_dataset %>

      <details>
        <% unless browser.ie? || browser.edge? %>
          <summary><span class="summary"><%= t('.view_additional_metadata') %></span></summary>
        <% end %>


        <div class="panel panel-border-narrow">
          <dl class="dgu-deflist">
            <% if i['metadata-date'] %>
              <dt><%= t('.inspire_added') %></dt>
              <dd><%= i['metadata-date'].to_date %></dd>
            <% end %>
            <% if i['access_constraints'] %>
              <% ref = JSON.parse(i['access_constraints']) %>
              <dt><%= t('.inspire_access_constraints') %></dt>
              <dd><%= ref.first || t('.inspire_access_constraints_unspecified') %></dd>
            <% end %>
            <% if i['guid'] %>
              <dt><%= t('.inspire_guid') %></dt>
              <dd><%= i['guid'] %></dd>
            <% end %>
            <% if i['bbox-east-long'] and i['bbox-west-long'] and i['bbox-north-lat'] and i['bbox-south-lat'] %>
              <dt><%= t('.inspire_extent') %></dt>
              <dd><%= t('.inspire_latitude') %>: <%= i['bbox-north-lat'] %>째 <%= t('.inspire_to') %> <%= i['bbox_south_lat'] %>째</dd>
              <dd><%= t('.inspire_longitude') %>: <%= i['bbox-west-long'] %>째 <%= t('.inspire_to') %> <%= i['bbox-east-long'] %>째</dd>
            <% end %>
            <% if i['spatial-reference-system'] %>
              <dt><%= t('.inspire_spatial_ref_system') %></dt>
              <dd><%= i['spatial-reference-system'] %></dd>
            <% end %>
            <% if i['dataset-reference-date'] %>
              <% ref = JSON.parse(i['dataset-reference-date']) %>
              <dt><%= t('.inspire_dataset_ref_date') %></dt>
              <% ref.each do |date| %>
                <dd><%= date['value'] %> (<%= date['type'] %>)</dd>
              <% end %>
            <% end %>
            <% if i['frequency-of-update'] %>
              <dt><%= t('.inspire_frequency') %></dt>
              <dd><%= i['frequency-of-update'] %></dd>
            <% end %>
            <% if i['responsible-party'] %>
              <dt><%= t('.inspire_responsible_party') %></dt>
              <dd><%= i['responsible-party'] %></dd>
            <% end %>
            <% if i['resource-type'] %>
              <dt><%= t('.inspire_iso_resource') %></dt>
              <dd><%= i['resource-type'] %></dd>
            <% end %>
            <% if i['metadata-language'] %>
              <dt><%= t('.inspire_metadata_lang') %></dt>
              <dd><%= i['metadata-language'] %></dd>
            <% end %>
            <% if i['harvest_object_id'] %>
              <dt><%= t('.inspire_gemini_record') %></dt>
              <dd><%= link_to t('.xml'), "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/xml", class: 'govuk-link' %></dd>
              <dd><%= link_to t('.html'), "/api/2/rest/harvestobject/#{ i['harvest_object_id'] }/html", class: 'govuk-link' %></dd>
            <% end %>
          </dl>
        </div>
      </details>
    <% end %>
  </section>
