<%# locals: subtitle: "", description: "", value: 0, analysis: "", trend: "", value_change: 0, percent_change: 0, side_class: "" %>

<% is_trending_up = (trend == "up") %>

<div class="datagovuk-headline__column">
    <h3 class="govuk-heading-m datagovuk-heading-m">
        <%= subtitle %>
    </h3>
    <p class="govuk-body datagovuk-body datagovuk-!-colour-grey">
        <%= description %>
    </p>
    <div class="datagovuk-headline__number">
        <%= number_with_delimiter(value) %>
    </div>

    <div class="datagovuk-headline__change <%= is_trending_up ? "datagovuk-headline__trendup" : "datagovuk-headline__trenddown" %>">
        <span class="datagovuk-headline__arrow" aria-hidden="true">
            <% if is_trending_up %>
                <%= image_tag("v2/up_arrow.svg", alt: "Trending up") %>
            <% else %>
                <%= image_tag("v2/down_arrow.svg", alt: "Trending down") %>
            <% end %>
        </span>
        <% if value_change.present? %>
            <span class="datagovuk-headline__change-value govuk-body datagovuk-body">
                <%= is_trending_up ? "+" : "-" %><%= value_change %>
            </span>
        <% end %>
        <span class="datagovuk-headline__change-value-percent govuk-body datagovuk-body">
            <% if value_change.present? %>
                (<%= percent_change %>%) 
            <% else %>
                <%= is_trending_up ? "+" : "-" %><%= percent_change %>%
            <% end %>
        </span>
    </div>

    <p class="govuk-body datagovuk-body">
        <%= analysis %>
    </p>

</div>
