<div class="grid-row inner">
  <div class="column-full">

    <div class="datagov_breadcrumb">
      <ol role="breadcrumb">
        <li>
          <%= link_to 'Back', support_path %>
        </li>
      </ol>
    </div>
    <% if @ticket.errors.any? %>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          There was a problem
        </h1>
        <ul class="error-summary-list">
          <% @ticket.errors.messages.each do |attr, error| %>
            <li><a href="#error_<%= attr.to_s %>"> <%= error[0] %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1 class='heading-medium'>
      <% if @support_queue == 'feedback'%>
        Report a problem or give feedback
      <% else %>
        Data request
      <% end %>
    </h1>

      <%= form_for @ticket, url: { action: "ticket", controller: "support" } do |f| %>
        <div class="form-group">
          <label class="form-label" for="content" id="error_content">Your message</label>
          <%= f.text_area(:content, class: "form-control form-control-2-3", rows: 8 ) %>
        </div>
        <div class="form-group">
          <label class="form-label" for="name" id="error_name">Name</label>
          <%= f.text_area(:name, class: "form-control form-control-2-3", rows: 1 ) %>
        </div>
        <div class="form-group" >
          <label class="form-label" for="email" id="error_email">Email address</label>
          <%= f.text_area(:email, class: "form-control form-control-2-3", rows: 1 ) %>
        </div>
          <%= f.hidden_field(:support, :value => @support_queue) %>
          <%= f.submit "Submit", class: "button" %>
      <% end %>
  </div>
</div>
