<%= yield :top_of_page %>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><![endif]-->
<!--[if gt IE 8]><!--><html lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><!--<![endif]-->
<html class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) + " - " + t('.site_name') : t('.site_name') %></title>

    <%# the colour used for theme-color is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>

  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%= render "govuk_publishing_components/components/skip_link", {} %>

    <%= render "govuk_publishing_components/components/cookie_banner", {
      text: sanitize("We use <a href='/cookies' class='govuk-link'>cookies to collect information</a> about how you use data.gov.uk. We use this information to make the website work as well as possible."),
      cookie_preferences_href: "/cookies",
    } %>

    <header role="banner" class="govuk-header" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="<%= root_path %>" class="govuk-header__link govuk-header__link--homepage">
              <%= t('.data_gov_uk')%> | <%= t('.find_open_data') %>
            </a>
        </div>
        <%= render 'layouts/proposition_header' %>
      </div>
    </header>

    <%= render 'layouts/staging_ribbon' if Rails.env.staging? %>

    <div class="dgu-top-non-content">
      <div class="dgu-top-non-content__inner">
        <%= render 'layouts/feedback_survey_banner' %>
        <%= yield :breadcrumb %>
      </div>
    </div>

    <div class="govuk-width-container">
      <%= yield %>
    </div>

    <%= render "govuk_publishing_components/components/layout_footer", {
      meta: {
        items: [
          {
            href: "/about",
            text: "About"
          },
          {
            href: "/accessibility",
            text: "Accessibility"
          },
          {
            href: "/cookies",
            text: "Cookies"
          },
          {
            href: "/privacy",
            text: "Privacy"
          },
          {
            href: "/terms",
            text: "Terms and conditions"
          },
          {
            href: "/support",
            text: "Support"
          },
          {
            href: "https://www.gov.uk/government/organisations/government-digital-service",
            text: "Built by the Government Digital Service"
          }
        ]
      }
    } %>

    <div id="global-app-error" class="app-error hidden"></div>

    <%= javascript_include_tag 'application' %>

    <%# if no GOVUK-namespaced module has loaded we can assume JS has failed and remove the class %>
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
