<%= yield :top_of_page %>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><![endif]-->
<!--[if gt IE 8]><!--><html lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><!--<![endif]-->
<html class="govuk-template">
  <head>

<script>
<% if Rails.application.config.analytics_tracking_id.present? %>
  var analyticsInit = function() {
      var consentCookie = window.GOVUK.getConsentCookie();

      if (consentCookie && consentCookie["usage"]) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')

        ga('create', '<%= Rails.application.config.analytics_tracking_id %>', 'auto')
        var dimensions = {}

        $(document).ready(function() {
          dimensions['dimension11'] = 'find-open-data'
          ga('send', 'pageview', dimensions)
          $('[data-ga-event]').on('click', sendAnalyticsEvent)
        })

        // Analytics event firing
        function sendAnalyticsEvent() {
          var eventType = $(this).data('ga-event')
          var orgName = $(this).data('ga-publisher')
          var eventParams = {}
          switch (eventType) {
            case 'download':
              eventParams = {
                hitType: 'event',
                eventCategory: 'datafile',
                eventAction: 'download',
                eventLabel: $(this).attr('href'),
                dimension4: orgName,
                dimension5: $(this).data('ga-format'),
                dimension11: 'find-open-data'
              }
              break
            case 'contact':
              eventParams = {
                hitType: 'event',
                eventCategory: 'contact-details',
                eventAction: 'click',
                eventLabel: orgName,
                dimension4: orgName,
                dimension11: 'find-open-data'
              }
              break
            case 'preview':
              eventParams = {
                hitType: 'event',
                eventCategory: 'datafile-preview',
                eventAction: 'click',
                eventLabel: $(this).attr('href'),
                dimension4: orgName,
                dimension5: $(this).data('ga-format'),
                dimension11: 'find-open-data'
              }
              break
            case 'preview-download':
              eventParams = {
                hitType: 'event',
                eventCategory: 'datafile-preview',
                eventAction: 'download',
                eventLabel: $(this).attr('href'),
                dimension4: orgName,
                dimension5: $(this).data('ga-format'),
                dimension11: 'find-open-data'
              }
              break
          }
          ga('send', eventParams)
        }
      }
};
<% else %>
var analyticsInit = function() { /* Analytics not configured. */ };
<% end %>
window.GOVUK.analyticsInit = analyticsInit;
</script>

    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) + " - " + t('.site_name') : t('.site_name') %></title>

    <%# the colour used for theme-color is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>

  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%= render "govuk_publishing_components/components/cookie_banner", {
      text: sanitize("We use <a href='/cookies' class='govuk-link'>cookies to collect information</a> about how you use data.gov.uk. We use this information to make the website work as well as possible."),
      cookie_preferences_href: "/cookies",
    } %>

    <%= render "govuk_publishing_components/components/skip_link", {} %>

    <header role="banner" class="govuk-header" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-header__logo govuk-grid-column-one-half">
            <a href="<%= root_path %>" class="govuk-header__link govuk-header__link--homepage">
                <%= t('.data_gov_uk')%> | <%= t('.find_open_data') %>
              </a>
          </div>
          <div class="govuk-grid-column-one-half">
            <%= render 'layouts/proposition_header' %>
          </div>
        </div>
      </div>
    </header>

    <%= render 'layouts/integration_ribbon' if Rails.env.integration? %>
    <%= render 'layouts/staging_ribbon' if Rails.env.staging? %>

    <div class="dgu-top-non-content">
      <div class="dgu-top-non-content__inner">
        <%= render 'layouts/feedback_survey_banner' %>
        <%= yield :breadcrumb %>
      </div>
    </div>

    <div class="govuk-width-container">
      <%= yield %>
    </div>

    <%= render "govuk_publishing_components/components/layout_footer", {
      meta: {
        items: [
          {
            href: "/about",
            text: "About"
          },
          {
            href: "/accessibility",
            text: "Accessibility"
          },
          {
            href: "/cookies",
            text: "Cookies"
          },
          {
            href: "/privacy",
            text: "Privacy"
          },
          {
            href: "/terms",
            text: "Terms and conditions"
          },
          {
            href: "/support",
            text: "Support"
          },
          {
            href: "https://www.gov.uk/government/organisations/government-digital-service",
            text: "Built by the Government Digital Service"
          }
        ]
      }
    } %>

    <div id="global-app-error" class="app-error hidden"></div>

    <%= javascript_include_tag 'application' %>

    <%# if no GOVUK-namespaced module has loaded we can assume JS has failed and remove the class %>
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
