<%= render 'layouts/staging_ribbon' if Rails.env.staging? %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>
<% content_for :page_title do %>
  Data.gov.uk - Find Data
<% end %>
<% content_for :homepage_url do %>/<% end %>
<% content_for :global_header_text do %>
  data.gov.uk<span class="separator"></span>find
<% end %>
<% content_for :content do %>
  <main role="main" tabindex="-1" id="content">
    <%= render partial: 'layouts/phase_banner' %>
    <%= yield %>
  </main>


  <div id="global-app-error" class="app-error hidden"></div>

  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

<% end %>
<%= render template: 'layouts/govuk_template' %>
