<% content_for :head do %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= render partial: 'layouts/analytics' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :page_title do %>
  <%= t('.page_title') %>
<% end %>

<% content_for :homepage_url do %>
  <%= root_path %>
<% end %>

<% content_for :cookie_message do %>
  <p>
    data.gov.uk uses cookies to make the site simpler.
    <%= link_to 'Find out more about cookies', cookies_path %>
  </p>
<% end %>

<% content_for :global_header_text do %>
  <%= t('.data_gov_uk')%>
  <div class="vertical-separator">|</div>
  <%= t('.find_open_data') %>
  <strong class="phase-tag dgu-phase-tag--responsive">BETA</strong>
<% end %>

<% content_for :logo_link_title do %><%= t('.go_to_home') %><% end %>

<% content_for :header_class do %>
  with-proposition
<% end %>

<% content_for :proposition_header do %>
  <%= render partial: 'layouts/proposition_header' %>
<% end %>

<% content_for :content do %>
  <%= render 'layouts/staging_ribbon' if Rails.env.staging? %>
  <%= render partial: 'layouts/beta_message' if flash[:beta_message] == 'show'%>

  <div class="dgu-top-non-content">
    <div class="dgu-top-non-content__inner">
      <%= render partial: 'layouts/feedback_survey_banner' if flash[:beta_message] == 'hide' %>
    </div>
  </div>
  <%= yield %>

  <div id="global-app-error" class="app-error hidden"></div>

  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <!--<script>document.body.className = document.body.className.replace('js-enabled', '')</script>-->
<% end %>

<% content_for :footer_support_links do %>
  <ul>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Accessibility', accessibility_path %></li>
    <li><%= link_to 'Cookies', cookies_path %></li>
    <li><%= link_to 'Privacy', privacy_path %></li>
    <li><%= link_to 'Terms and conditions', terms_path %></li>
    <li><%= link_to 'Support', support_path %></li>
    <li>Built by the <%= link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service' %></li>
  </ul>
<% end %>

<%= render template: 'layouts/govuk_template' %>
