<% content_for :head do %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= render partial: 'layouts/analytics' %>
  <%= csrf_meta_tags %>
<% end %>
<% content_for :page_title do %>
  Data.gov.uk - Find Data
<% end %>
<% content_for :homepage_url do %>/<% end %>
<% content_for :global_header_text do %>
  UK Government data <strong class="phase-tag">BETA</strong>
<% end %>
<% content_for :header_class do %>with-proposition<% end %>
<% content_for :proposition_header do %>
  <!-- to hold options for authenticated users -->
  <%= render partial: 'layouts/proposition_header' %>
<% end %>
<% content_for :content do %>
  <div class="search">
    <%= render 'layouts/staging_ribbon' if Rails.env.staging? %>
    <main role="main" tabindex="-1" id="content">
      <%= yield %>
    </main>
    <div id="global-app-error" class="app-error hidden"></div>
  </div>

  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <!--<script>document.body.className = document.body.className.replace('js-enabled', '')</script>-->

<% end %>
<%= render template: 'layouts/govuk_template' %>
